<div>
	<div class="y-left index-content">

		<div id="J_carousel" riot-tag="carouselBox" style="height: 300px; margin-bottom: 16px;" class="y-box carouselBox">
			<div id="carouselList" style="float: left;" riot-tag="carouselList" class="carouselList">
				<ul class="carousel-list" ga_event="focus_list_click">
					<li style="opacity: 1;" class="carousel-item ">
						<a target="_blank" href="http://www.toutiao.com/group/6409502317997572354/"> <img alt="" src="./今日头条_files/1bf4000b928feae4aa20">
							<p class="title">纽约车站误传枪击 民众逃散致16人受伤</p>
						</a>
					</li>
					<li style="opacity: 1;" class="carousel-item carousel-item-active">
						<a target="_blank" href="http://www.toutiao.com/group/6409528588823593218/"> <img alt="" src="./今日头条_files/1bf3000b8f4fb3addc1b">
							<p class="title">北京半程马拉松正式开跑 “特朗普”现身选手队伍</p>
						</a>
					</li>
					<li style="opacity: 0.1;" class="carousel-item ">
						<a target="_blank" href="http://www.toutiao.com/group/6409704282605912321/"> <img alt="" src="./今日头条_files/1bf6000997d4e614a6f6">
							<p class="title">Lady Gaga变黑衣女郎狂野热舞</p>
						</a>
					</li>
					<li style="opacity: 1;" class="carousel-item ">
						<a target="_blank" href="http://www.toutiao.com/group/6409591676054880513/"> <img alt="" src="./今日头条_files/1bf6000997e33c5b46fd">
							<p class="title">巴黎五千米彩色跑活动 埃菲尔铁塔下跑者狂欢</p>
						</a>
					</li>
					<li style="opacity: 1;" class="carousel-item ">
						<a target="_blank" href="http://www.toutiao.com/group/6407963329377386754/"> <img alt="" src="./今日头条_files/1bf6000997f14a0c47f5">
							<p class="title">美国坐拥枪械最多的人 机枪就有两百挺</p>
						</a>
					</li>
					<li style="opacity: 1;" class="carousel-item ">
						<a target="_blank" href="http://www.toutiao.com/group/6409693386945249538/"> <img alt="" src="./今日头条_files/1bf6000998121301c2ea">
							<p class="title">“水果姐”短发皮草获男友人“赏肚”</p>
						</a>
					</li>
					<!--riot placeholder-->
				</ul>
			</div>
			<div id="carouselTab" style="float: right;" riot-tag="carouselTab" class="carouselTab">
				<ul class="tab-list">
					<li class="tab-item "> 要闻 </li>
					<li class="tab-item tab-item-active"> 社会 </li>
					<li class="tab-item "> 娱乐 </li>
					<li class="tab-item "> 体育 </li>
					<li class="tab-item "> 军事 </li>
					<li class="tab-item "> 明星 </li>
					<!--riot placeholder-->
				</ul>
			</div>
		</div>

		<div riot-tag="subchannel" id="subchannel"></div>
		<div riot-tag="feedBox">
			<div class="feedBox" name="feedBox">
				<div riot-tag="wcommonFeed" category="__all__" abtype="0">
					<div class="wcommonFeed">
						<div riot-tag="msgAlert" mwidth="660" mtop="500" category="__all__">
							<div class="msgAlert msgAlert-hidden">
								<div style="background-color: #fff; height: 1px;"></div>
							</div>
						</div>
						<ul>
							<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409855840329613570"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="article_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6409855840329613570/"> 卓伟又送了黄晓明顶绿帽子？陈赫背后的Boss是爱发声明的她？ </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-entertainment" href="http://www.toutiao.com/news_entertainment">娱乐</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="http://www.toutiao.com/c/user/55077104158/"> <img alt="" src="./今日头条_files/150d000e1d08695cdc04"> </a>
														<a class="lbtn source" target="_blank" ga_event="article_name_click" href="http://www.toutiao.com/c/user/55077104158/">&nbsp;娱乐吧吧&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="http://www.toutiao.com/group/6409855840329613570//#comment_area">&nbsp;616评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;10分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6409855840329613570" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="article_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6409855840329613570/"> <img alt="" src="./今日头条_files/1a6d000a126931a1ca47"> </a>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="video_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6402734884796416258"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="video_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6402734884796416258/"> 哇塞！降央卓玛这首情歌要火，比走天涯好听10倍，好听极了 </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-video" href="http://www.toutiao.com/video">视频</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="video_avatar_click" href="http://www.toutiao.com/c/user/6915729199/"> <img alt="" src="./今日头条_files/97e000afb61172a6f2e"> </a>
														<a class="lbtn source" target="_blank" ga_event="video_name_click" href="http://www.toutiao.com/c/user/6915729199/">&nbsp;慧净阁佛友音乐汇&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="video_comment_click" href="http://www.toutiao.com/group/6402734884796416258//#comment_area">&nbsp;108评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;17分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6402734884796416258" ga_event="video_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="video_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6402734884796416258/"> <img alt="" src="./今日头条_files/19f200040532cb953ef5"> <i class="ftype video"> <span>04:43</span> </i> </a>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409868541272523265"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="article_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6409868541272523265/"> "75后"副县长涉案或达2千万被双开：穷怕了 想挣钱 </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-society" href="http://www.toutiao.com/news_society">社会</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="http://www.toutiao.com/c/user/3582660809/"> <img alt="" src="./今日头条_files/4664054183"> </a>
														<a class="lbtn source" target="_blank" ga_event="article_name_click" href="http://www.toutiao.com/c/user/3582660809/">&nbsp;中国青年网&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="http://www.toutiao.com/group/6409868541272523265//#comment_area">&nbsp;3115评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;25分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6409868541272523265" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="article_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6409868541272523265/"> <img alt="" src="./今日头条_files/1bb4000f984df0383160"> </a>
									</div>
								</div>
							</li>
							<li class="item  J_add  " ga_event="ad_item_click" ad_id="59062829640" qihu_ad_id="" ad_track="" group_id="6408387093889810689" ad_show="0"> <span id="ad_extra" style="display:none;">{"rit": 1, "convert_id": 0, "req_id": "2017041720330517201723400772308E", "ad_price": "WPS0DAAG16pY9LQMAAbXqhiSMvAJ3Xcr_RJFKA"}</span>
								<div class="item-inner y-box">
									<div class="normal  ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="ad_title_click">
												<a class="link title" target="_blank" href="http://dytz.cjs88.cn/template/html/d0/58ee1d616c6d0.html"> 广州的你再忙也要加一下这个投资微信！不然后悔！ </a>
											</div>
											<div class="img-list y-box" ga_event="ad_img_click">
												<a class="img-wrap" target="_blank" href="http://dytz.cjs88.cn/template/html/d0/58ee1d616c6d0.html"> <img alt="" src="./今日头条_files/1c19000062675e53b27e"> </a>
												<a class="img-wrap" target="_blank" href="http://dytz.cjs88.cn/template/html/d0/58ee1d616c6d0.html"> <img alt="" src="./今日头条_files/1aa4000a2b8a788b321f"> </a>
												<a class="img-wrap" target="_blank" href="http://dytz.cjs88.cn/template/html/d0/58ee1d616c6d0.html"> <img alt="" src="./今日头条_files/1c19000062709c653bce"> </a>
												<!--riot placeholder-->
												<a class="img-wrap" target="_blank" href="http://dytz.cjs88.cn/template/html/d0/58ee1d616c6d0.html"> <span class="add-info">查看详情&nbsp;<i class="y-icon icon-next-page"></i></span> </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<div class="y-left">
														<a target="_blank" class="lbtn media-avatar avatar-bg-3" href="http://www.toutiao.com/search/?keyword=%E9%92%B1%E5%9D%A4%E6%8A%95%E8%B5%84" ga_event="ad_avatar_click">钱</a>
														<a class="lbtn source" target="_blank" href="http://www.toutiao.com/search/?keyword=%E9%92%B1%E5%9D%A4%E6%8A%95%E8%B5%84" ga_event="ad_name_click">&nbsp;钱坤投资&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;32分钟前</span> <span class="lbtn recommend">广告</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6408387093889810689" ga_event="ad_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6400251581963190529"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="article_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6400251581963190529/"> 为什么狗狗在死之前会躲起来死掉？ </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-other" href="http://www.toutiao.com/search/?keyword=%E5%AE%A0%E7%89%A9">宠物</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="http://www.toutiao.com/c/user/50577042521/"> <img alt="" src="./今日头条_files/d2a00069979de831ab7"> </a>
														<a class="lbtn source" target="_blank" ga_event="article_name_click" href="http://www.toutiao.com/c/user/50577042521/">&nbsp;宠物乐园丁丁&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="http://www.toutiao.com/group/6400251581963190529//#comment_area">&nbsp;400评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;40分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6400251581963190529" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="article_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6400251581963190529/"> <img alt="" src="./今日头条_files/19ef00044607bbb504c0"> </a>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="video_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6399594689875411457"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="video_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6399594689875411457/"> 这不是车祸！而是故意杀人啊，多大的仇恨，能让你这样藐视生命 </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-video" href="http://www.toutiao.com/video">视频</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="video_avatar_click" href="http://www.toutiao.com/c/user/57951982252/"> <img alt="" src="./今日头条_files/18a1000868c345eb4c30"> </a>
														<a class="lbtn source" target="_blank" ga_event="video_name_click" href="http://www.toutiao.com/c/user/57951982252/">&nbsp;熊二车讯&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="video_comment_click" href="http://www.toutiao.com/group/6399594689875411457//#comment_area">&nbsp;4357评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;47分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6399594689875411457" ga_event="video_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="video_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6399594689875411457/"> <img alt="" src="./今日头条_files/1935000a7be059f1047f"> <i class="ftype video"> <span>01:33</span> </i> </a>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6407156738479079682"> <span id="ad_extra" style="display:none;"></span>
								<div class="item-inner y-box">
									<div class="normal rbox ">
										<div class="rbox-inner">
											<div class="title-box" ga_event="article_title_click">
												<a class="link title" target="_blank" href="http://www.toutiao.com/group/6407156738479079682/"> 爆笑十三张图（97） </a>
											</div>
											<div class="y-box footer">
												<div class="y-left">
													<a target="_blank" ga_event="article_tag_click" class="lbtn tag tag-bg-other" href="http://www.toutiao.com/funny">搞笑</a>
													<div class="y-left">
														<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="http://www.toutiao.com/c/user/50092356919/"> <img alt="" src="./今日头条_files/bc20005f2da980640a0"> </a>
														<a class="lbtn source" target="_blank" ga_event="article_name_click" href="http://www.toutiao.com/c/user/50092356919/">&nbsp;自媒体网络玩家&nbsp;⋅</a>
														<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="http://www.toutiao.com/group/6407156738479079682//#comment_area">&nbsp;73评论&nbsp;⋅</a>
													</div> <span class="lbtn">&nbsp;55分钟前</span> </div>
												<div class="y-right"> <span class="dislike" data-groupid="6407156738479079682" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
											</div>
										</div>
									</div>
									<div class="lbox" ga_event="article_img_click">
										<a class="img-wrap" target="_blank" href="http://www.toutiao.com/group/6407156738479079682/"> <img alt="" src="./今日头条_files/1b7800038433fc1ff8e7"> </a>
									</div>
								</div>
							</li>
							<li class="item    " ga_event="refresh_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id=""> <span id="ad_extra" style="display:none;"></span>
								<div class="list-refresh-msg"> <span>55分钟前看到这里</span> &nbsp;点击刷新&nbsp;<i class="y-icon icon-refreshfeed"></i> </div>
							</li>
							<!--riot placeholder-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>